{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["**/*spec.js", "**/*spec.ts"],
      "options": {
        "semi": true,
        "printWidth": 900
      }
    }
  ]
}